<!-- Main Content -->
<div class="main-content">
  <div class="container">
    <h1>Listing products</h1>
    <div class="row row-content">
      <div class="col-xs-12">
          <ul class="media-list">
            <% @products.each do |product| %>
              <li class="media">
                  <div class="media-left media-middle">
                      <%= link_to image_tag(product.image_url, class: 'media-object img-thumbnail'), products_path %> 
                  </div>
                  <div class="media-body">
                      <h2 class="media-heading"><%= product.title %>
                      <span class="badge"><%= number_to_currency(product.price) %></span>
                      </h2>
                      <p><%= truncate(strip_tags(product.description), length: 80) %></p>
                      <%= link_to 'Show', product %><br/>
                      <%= link_to 'Edit', edit_product_path(product) %><br/> 
                      <%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %>
                  </div>
              </li>
            <% end %>
          </ul>  
      </div>
    </div>
    <%= link_to 'New product', new_product_path %>      
  </div>
</div>
